[Desktop Entry]
Version=1.1
Type=Application
Name=Netflix
GenericName=Netflix
Comment=Firefox Site Specific Browser for Netflix.
Icon=netflix-desktop
Exec=firefox --ssb "https://www.netflix.com/browse"
Actions=
Categories=Network;TV;
Keywords=Netflix Video;
StartupWMClass=www.netflix.com
