[Desktop Entry]
Version=1.1
Type=Application
Name=WhatsApp
GenericName=WhatsApp
Comment=Firefox Site Specific Browser for WhatsApp Web.
Icon=whatsapp
Exec=firefox --ssb "https://web.whatsapp.com"
Actions=
Categories=Network;TV;
Keywords=WhatsApp;Messenger;Video;
StartupWMClass=wweb.whatsapp.com
